.dash .desc {
    font-size: 2vw;
    margin-bottom: 3%;
    color: #666666;
}

.night .desc {
    color: #d4d1d1;
}

span {
    font-size: 1.5vw;
    color: #666666;
}

.night span {
    color: #d4d1d1;
}