.main {
    padding-top: 7%;
}

.desc {
    font-family: "Segoe UI light";
    font-size: 3vw;
    margin-top: 2%;
    margin-bottom: 10%;
}

.main .desc {
    color: #8664c3;
}


.heading {
    color: #8664c3;
    font-weight: bold;
    font-family: "Segoe UI", sans-serif;
    margin: 0;
    font-size: 8vw;
}

.main .heading {
    font-size: 12vw;

}

.logo img {
    z-index: -10;
    position: fixed;
    max-width: 300px;
    max-height: 300px;
    width: 25vw;
    height: 25vw;
    opacity: 0.3;
    margin-top: 6%;
}
.main .sep {
    width: 60vw;
}

.sep {
    height: 6px;
    margin: 1% 2% 1% 0;
    border: none;
    border-radius: 5px;
    background-color: #8664c3;

}

.card .desc {
    color: #8664c3;
    font-family: "Segoe UI light";
    font-size: 3vw;
    margin-top: 2%;
    margin-bottom: 8%;
    text-align: center;
}