.name {
    text-align: center;
    color: #666666;
    font-size: 8vw;
    font-weight: bold;
    margin-bottom: 7%;
}

.detail {
    color: #666666;
    font-size: 2vw;
}

.night .detail {
    color: #d4d1d1;
    font-size: 2vw;
}

.night .name {
    color: #d4d1d1;
    font-size: 8vw;
    font-weight: bold;
    margin: 0 0 7% 0;
}