.app {
    height: 100%;
    position: relative;
    z-index: 5;
    margin-bottom: -20%;
    padding-top: 3%;
    padding-left: 2.5%;
    max-height: 100vh;
    max-width: 100%;
}

#root {
    height: 100%;
}

.day {
    background-color: white;
}

.night {
    background-color: black;
}


.night i {
    color: white;
}

.day i {
    color: black;
}