.topic {
    color: #666666;
    font-size: 4vw;
    font-weight: bold;
    font-family: "Segoe UI", sans-serif;
    background-color: #e0e0e0;
    margin: 0 0 5% 0;
}

form {
    margin-bottom: -10%;
}

#login {
    margin: 10% 0 5% 0;
}

.night .topic {
    color: #d4d1d1;
    font-size: 4vw;
    background-color: rgb(99, 95, 95);
    font-weight: bold;
    font-family: "Segoe UI", sans-serif;
    margin: 0 0 5% 0;
}