.topic {
    color: #666666;
    font-size: 3.5vw;
    font-weight: bold;
    font-family: "Segoe UI", sans-serif;
    background-color: inherit;
    margin: 0 0 5% 0;
}

form {
    margin-bottom: -10%;
}

#login {
    margin: 10% 0 5% 0;
}

.night .topic {
    color: #d4d1d1;
    font-size: 3.5vw;
    background-color: inherit;
    font-weight: bold;
    font-family: "Segoe UI", sans-serif;
    margin: 0 0 5% 0;
}